{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-around index">
        <div class="propos ml-5 mt-5">
            <h1>À propos</h1>
        </div>
        <div class="index-description mr-5 ml-5 mt-5">
            <p>
                Motivation, esprit d'équipe, curiosité et communication sont des qualités que j'ai pu acquérir lors de mon
                parcours professionnel et qui sont pour moi essentielles dans un métier où le travail en équipe est
                omniprésent.
                Le fait de se remettre en question tous les jours et développer des projets sont des choses excitantes pour
                moi. L'irréalisable ne l'est que lorsque l'on ne veut pas s'en donner les moyens.
                J'aime découvrir et apprendre, autonome, je sais adapter mon travail et mon énergie afin d'être efficace
                face à toutes les situations.
                Après une licence dans le commerce et plus de 4 ans d'expérience dans ce même domaine, j'ai décidé de me
                réorienter vers un métier qui me tient à cœur depuis toujours : le développement web.
            </p>
        </div>
    </div>
{% endblock %}
